p
{
    background-color: blanchedalmond;
    padding: 10px 30px;
}

#pan-tadeusz {
    background-color: darkgrey;
    color: yellow;
}

.lorem{
    font-size: 20px;
}

p#pierwszy, a {
    color: lime; 
}

div#elementy-potomne > p {
    background-color: aqua;
}